## Basic datatypes in python

In [2]:
# We use # to add comments in python

# Integers
2
-4
10000
0

# Floats
2.8
1.0
10000.01
-2.08
-1.0
0.0

# Strings
'a'
'c'
'#'
'0'
'1'
"Hello"
'World'

'World'

You can check the data type with the help of function type:

In [21]:
type(12)

int

In [22]:
type(2.5)

float

In [23]:
type('c')

str

In [24]:
type('hello')

str

In [25]:
type("c")

str

In [26]:
type("hello")

str

## Now lets print something in python
<hr>

For printing something in python we use ```print``` statement.
Python is **case sensitive language** so ```print``` is written in all small case.

In [1]:
print("Hello world!")

Hello world!

## Arithematic operations in python

Addition of two integers results in integer:

In [3]:
5 + 2

7

Addition of an integer and a float results in a float:

In [4]:
3.0 + 4

7.0

In [5]:
4.05 + 6

10.05

Addition of two floats results in a float:

In [6]:
3.4 + 6.6

10.0

In [7]:
4.63 + 7.3

11.93

Multiplication of two integers gives us an integer:

In [8]:
3 * 8

24

Multiplication of an integer and a float gives us a float:

In [1]:
2 * 0.8

1.6

Multiplication of two floats gives us a float:

In [2]:
3.4 * 2.5

8.5

Division of two integers will always give you float even if the result is whole number:

In [3]:
8 / 4

2.0

In [4]:
15 / 3

5.0

In [7]:
10 / 3

3.3333333333333335

Division of a float by an integer will also give you float:

In [5]:
15.5 / 5

3.1

Division of integer by a float also results in float:

In [6]:
110 / 5.5

20.0

Division of a float by float will obviously give you a float:

In [8]:
110.5 / 5.5

20.09090909090909

In [9]:
25.6 / 1.6

16.0

Applying power to a number in python:

In [10]:
# Let's say we want 25 squared
25 ** 2

625

In [11]:
# we can apply any power to any number
243.4 ** 2.2

177789.15366950817

Floor division in python(It means that it will only return the integer part of the result):

In [12]:
20 // 2

10

In [15]:
110 // 5.5

20.0

In [16]:
32 // 3

10

In [18]:
25.6 // 4

6.0

Modulo in python(gets you the remainder of the division):

In [19]:
4 % 2

0

In [20]:
10 % 3

1

## Variables and assignments in python

### Rules for naming variables in python:

1. Variable names can contain only letters, numbers and underscores.
2. Variables can start with an underscore but not a number.
3. Variable starting with an underscore are used to specify that the particular variable is private variable(it doesn't do anything as such, its just there as a symbol for programmers to know.).
4. Space is also not allowed in a variable name.
5. Python keywords can't be used as a variable name.
<hr>

Examples:
1. message ✅
2. message_new ✅
3. message_1 ✅
4. _message ✅ (this is generally used to symbolise a private variable of a class.)
5. 1_message ❌
6. message new ❌
7. range ❌ (because it is a python keyword.)