# List

## Introduction to list:

### What is a list?

In [1]:
# Lets define a list in python
car_type = ['hatchback', 'sedan', 'suv', 'sports']
print(car_type)
print(type(car_type))

['hatchback', 'sedan', 'suv', 'sports']
<class 'list'>

In [4]:
# We can have multiple data types in one list if we want to.
random_list = ['hello', 3, 2.26, 'tree']
print(random_list)
print(type(random_list))

['hello', 3, 2.26, 'tree']
<class 'list'>

### Accessing values in the list

In [5]:
# Just like string, list items also starts with 0 indexing
# Lets try to access the first element (0th index) in car_type list.
car_type[0]

'hatchback'

In [6]:
# Similarly like string we can access the last item in the list
# using negitive indexing, hence -1 index will give you the last
# element in a list.
car_type[-1]

'sports'

## Changing, Adding and Removing elements from a list

In [5]:
# Now let's create a new list to change, add and remove from
cricket_players = ['dhoni', 'kohli', 'rohit', 'bumrah', 'jadeja']
cricket_players

['dhoni', 'kohli', 'rohit', 'bumrah', 'jadeja']

In [6]:
cricket_players[0]

'dhoni'

### Modifying elements in a list

In [7]:
print(cricket_players)
cricket_players[-1] = 'ravindra'
print(cricket_players)

['dhoni', 'kohli', 'rohit', 'bumrah', 'jadeja']
['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra']

### Adding elements to the list

In [8]:
print(cricket_players)
cricket_players.append('rahul')
print(cricket_players)

['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra']
['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']

### Inserting elements to the list

In [9]:
print(cricket_players)
cricket_players.insert(0, 'sachin')
print(cricket_players)

['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']

### Removing an item using the del statement

In [10]:
print(cricket_players)
del cricket_players[-1]
print(cricket_players)

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra']

### Removing items using pop

In [11]:
print(cricket_players)
# removes the last element from a list.
popped_player = cricket_players.pop()
print(cricket_players)
print(popped_player)

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra']
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah']
ravindra

### Popping items from any position in a list

In [12]:
print(cricket_players)
fast_baller = cricket_players.pop(-1)
print(cricket_players)
print(fast_baller)

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah']
['sachin', 'dhoni', 'kohli', 'rohit']
bumrah

### Removing an item by value

<p>remove function will only remove the first occurance of the item.</p>

In [13]:
print(cricket_players)
cricket_players.remove('sachin')
print(cricket_players)

['sachin', 'dhoni', 'kohli', 'rohit']
['dhoni', 'kohli', 'rohit']

## Organising the list

In [1]:
# Let's create a new list
cars = ['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
cars

['land rover', 'bmw', 'audi', 'toyota', 'mercedes']

### Permanently sorting using sort method

In [2]:
print(cars)
cars.sort()
print(cars)

['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
['audi', 'bmw', 'land rover', 'mercedes', 'toyota']

In [3]:
# Now let's reverse sort the list
print(cars)
cars.sort(reverse=True)
print(cars)

['audi', 'bmw', 'land rover', 'mercedes', 'toyota']
['toyota', 'mercedes', 'land rover', 'bmw', 'audi']

In [4]:
# Now let's reset the list
cars = ['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
cars

['land rover', 'bmw', 'audi', 'toyota', 'mercedes']

### Sorting temporarily using sorted() method

In [5]:
print("original list: ")
print(cars)

print("sorted list: ")
print(sorted(cars))

print("original list again: ")
print(cars)

original list:
['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
sorted list:
['audi', 'bmw', 'land rover', 'mercedes', 'toyota']
original list again:
['land rover', 'bmw', 'audi', 'toyota', 'mercedes']

### Printing the list in reverse order

In [6]:
print(cars)
cars.reverse()
print(cars)

['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
['mercedes', 'toyota', 'audi', 'bmw', 'land rover']

### Finding the lenght of the list

In [7]:
len(cars)

5