# List

## Introduction to list:

### What is a list?

In [1]:
# Lets define a list in python
car_type = ['hatchback', 'sedan', 'suv', 'sports']
print(car_type)
print(type(car_type))

['hatchback', 'sedan', 'suv', 'sports']
<class 'list'>

In [4]:
# We can have multiple data types in one list if we want to.
random_list = ['hello', 3, 2.26, 'tree']
print(random_list)
print(type(random_list))

['hello', 3, 2.26, 'tree']
<class 'list'>

### Accessing values in the list

In [5]:
# Just like string, list items also starts with 0 indexing
# Lets try to access the first element (0th index) in car_type list.
car_type[0]

'hatchback'

In [6]:
# Similarly like string we can access the last item in the list
# using negitive indexing, hence -1 index will give you the last
# element in a list.
car_type[-1]

'sports'

## Changing, Adding and Removing elements from a list

In [5]:
# Now let's create a new list to change, add and remove from
cricket_players = ['dhoni', 'kohli', 'rohit', 'bumrah', 'jadeja']
cricket_players

['dhoni', 'kohli', 'rohit', 'bumrah', 'jadeja']

In [6]:
cricket_players[0]

'dhoni'

### Modifying elements in a list

In [7]:
print(cricket_players)
cricket_players[-1] = 'ravindra'
print(cricket_players)

['dhoni', 'kohli', 'rohit', 'bumrah', 'jadeja']
['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra']

### Adding elements to the list

In [8]:
print(cricket_players)
cricket_players.append('rahul')
print(cricket_players)

['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra']
['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']

### Inserting elements to the list

In [9]:
print(cricket_players)
cricket_players.insert(0, 'sachin')
print(cricket_players)

['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']

### Removing an item using the del statement

In [10]:
print(cricket_players)
del cricket_players[-1]
print(cricket_players)

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra']

### Removing items using pop

In [11]:
print(cricket_players)
# removes the last element from a list.
popped_player = cricket_players.pop()
print(cricket_players)
print(popped_player)

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra']
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah']
ravindra

### Popping items from any position in a list

In [12]:
print(cricket_players)
fast_baller = cricket_players.pop(-1)
print(cricket_players)
print(fast_baller)

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah']
['sachin', 'dhoni', 'kohli', 'rohit']
bumrah

### Removing an item by value

<p>remove function will only remove the first occurance of the item.</p>

In [13]:
print(cricket_players)
cricket_players.remove('sachin')
print(cricket_players)

['sachin', 'dhoni', 'kohli', 'rohit']
['dhoni', 'kohli', 'rohit']

## Organising the list

In [1]:
# Let's create a new list
cars = ['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
cars

['land rover', 'bmw', 'audi', 'toyota', 'mercedes']

### Permanently sorting using sort method

In [2]:
print(cars)
cars.sort()
print(cars)

['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
['audi', 'bmw', 'land rover', 'mercedes', 'toyota']

In [3]:
# Now let's reverse sort the list
print(cars)
cars.sort(reverse=True)
print(cars)

['audi', 'bmw', 'land rover', 'mercedes', 'toyota']
['toyota', 'mercedes', 'land rover', 'bmw', 'audi']

In [4]:
# Now let's reset the list
cars = ['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
cars

['land rover', 'bmw', 'audi', 'toyota', 'mercedes']

### Sorting temporarily using sorted() method

In [5]:
print("original list: ")
print(cars)

print("sorted list: ")
print(sorted(cars))

print("original list again: ")
print(cars)

original list:
['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
sorted list:
['audi', 'bmw', 'land rover', 'mercedes', 'toyota']
original list again:
['land rover', 'bmw', 'audi', 'toyota', 'mercedes']

### Printing the list in reverse order

In [6]:
print(cars)
cars.reverse()
print(cars)

['land rover', 'bmw', 'audi', 'toyota', 'mercedes']
['mercedes', 'toyota', 'audi', 'bmw', 'land rover']

### Finding the lenght of the list

In [7]:
len(cars)

5

## Looping through an entire list

<p>So, till now we were using index of a praticular item in the list to access it.
What if we want to traverse through the list? Then we will use looping.</p>

In [8]:
# let's recreate the cricketer's list
indian_cricketers = ['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
indian_cricketers

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']

In [9]:
# Now, let's traverse through the list
for cricketer in indian_cricketers:
    print(f'{cricketer.title()}, is an Indian cricketer.')

Sachin, is an Indian cricketer.
Dhoni, is an Indian cricketer.
Kohli, is an Indian cricketer.
Rohit, is an Indian cricketer.
Bumrah, is an Indian cricketer.
Ravindra, is an Indian cricketer.
Rahul, is an Indian cricketer.

## Making numerical list

### Using range function

<p>Let's first learn to use the range function, Which we will be using to create a list.</p>

In [10]:
# Here 1 is included but 5 is excluded
for value in range(1, 5):
    print(value)

1
2
3
4

In [11]:
# Here the starting number will be 0 and the ending will be 5, so 6 will be excluded
for value in range(6):
    print(value)

0
1
2
3
4
5

In [12]:
for value in range(0, 10, 2):
    print(value)

0
2
4
6
8

<p>So, range() function can take 1, 2, 3 values, the first one signifying from where you want to start the range(by default 0), the second signifies where it should end(2nd value - 1) and the third value specifies the step it should take to reach that value(by default 1).
The 2nd value is mandatory and everything else is optional. So, if you give only 1 value then it will be treated as the 2nd value.</p>

### Using range() to make a list

In [13]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [14]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [15]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Simple statistics with a list of numbers

In [16]:
digits = [9, 3, 4, 1, 2, 5, 6, 0, 7, 8]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

### List comprehension

In [17]:
# Instead of creating an empty list squares and then filling it we could also have done
# it in a simpler and easier way as shown below:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Working with part of a list

In [18]:
# Let's bring back the players list
players = ['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
players

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']

### Slicing a list

In [25]:
print(players)
# it will start from 0th index and the go till 2nd index
print(players[0:3])

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['sachin', 'dhoni', 'kohli']

In [26]:
print(players)
# this will start from 1st index and will end at 3rd
print(players[1:4])

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['dhoni', 'kohli', 'rohit']

In [27]:
print(players)
# This will start from 0th index and go till 3rd index
print(players[:4])

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['sachin', 'dhoni', 'kohli', 'rohit']

In [28]:
print(players)
# This will start from 1st index and go till end
print(players[1:])

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']

In [29]:
print(players)
# This will start from -3 index and go till end
print(players[-3:])

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['bumrah', 'ravindra', 'rahul']

In [30]:
print(players)
# This will start from 1st index and go till end with a jump of 2
print(players[1::2])

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
['dhoni', 'rohit', 'ravindra']

### Looping through a slice

In [31]:
# Printing first 3 players from the list

print(players)
print("Here are the first three players from the list:")

for player in players[:3]:
    print(player.title())

['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
Here are the first three players from the list:
Sachin
Dhoni
Kohli

### Copying a list

<p>Now let's say that we want two different list of players, one for ODI and one for T20, but some players are going to be common. So we are going to do that.</p>

In [33]:
odi = players[:]
t20 = players[:]

print("Player's list: ")
print(players)
print("=" * 100)
print("The initial list for ODI players: ")
print(odi)
print("=" * 100)
print("The initial list for t20 players: ")
print(t20)

Player's list:
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
====================================================================================================
The initial list for ODI players:
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
====================================================================================================
The initial list for t20 players:
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']

In [34]:
# Now let's change the lists
t20.remove('rahul')
t20.append('surya')
t20.append('chahal')
t20.append('shami')

#############################################

odi.append('ashwin')
odi.append('shami')

In [35]:
# Now, let's print the lists again

print("Player's list: ")
print(players)
print("=" * 100)
print("The modified list for ODI players: ")
print(odi)
print("=" * 100)
print("The modified list for t20 players: ")
print(t20)

Player's list:
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul']
====================================================================================================
The modified list for ODI players:
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'rahul', 'ashwin', 'shami']
====================================================================================================
The modified list for t20 players:
['sachin', 'dhoni', 'kohli', 'rohit', 'bumrah', 'ravindra', 'surya', 'chahal', 'shami']